.DS_Store
.snakemake/*
.snakejob/*
ftp.1000*/
ftp-trace*/
data/*
temp/*
stats/*
scripts/GWAS_QC_cache/*
output/*
scripts/__pycache__/*
*.bk
*.bed
*.bim
*.fam
inputs/
*heap*
.fuse*
reference
.ropeproject
sandbox/
input/
samp.irem
temp/
stats/
rstudio*
*.rda
*.Rproj
.Rproj*
.Rdata*
