.DS_Store
.snakemake/*
.snakejob/*
ftp.1000*/
ftp-trace*/
data/*
temp/*
stats/*
workflow/scripts/GWAS_QC_cache/*
output/*
workflow/scripts/__pycache__/*
*.bk
*.bed
*.bim
*.fam
inputs/
*heap*
.fuse*
reference
.ropeproject
sandbox/
input/
samp.irem
temp/
stats/
rstudio*
*.rda
*.Rproj
.Rproj*
.RData*
output_*/
LZ*
core.*
extra.sh
